{% load static %}<!-- using django template language to add the stylesheet created -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap4 (Optional unless i'm using cripsy forms) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fontawesomecdn (Optional)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- sit-wide stylesheet(optional) -->
    <link rel="stylesheet" href="{% static 'allpages/css/stylesheet.css' %}">
    <!-- Favicon (Optional) -->
    <link rel="shortcut icon" href="{% static 'allpages/images/favicon.ico' %}">
    {% block headcontent %}

    {% endblock headcontent %}
    <!-- <title>My Website</title> -->
    <!-- if title passed in, use it, otherwise use generic title-->
    {# if title passed in, use it, otherwise use generic title #}
    <title>
        {% if title %}
            {{title}}
        {% else %}
            Welcome! 
        {% endif %}
    </title>
</head>
<body>
    <header>
        <img src="{% static 'allpages/images/logos.png' %}" alt="">
    </header>
    <nav>
        <!-- internal links -->
        <a href="{% url 'allpages-home' %}">Home</a> 
        <a href="{% url 'allpages-about' %}">About</a>
        <a href="{% url 'allpages-privacy' %}">Privacy</a>
        <!-- Below is for test only, you don't put aadmin link on public site -->
        <a href="{% url 'admin:index' %}">Admin</a>
    </nav>
    <!-- main content section that goes under the nav -->
    <main>
        {% block maincontent %}

        {% endblock maincontent %}
    </main> 
    <footer>
        <a href="https://www.linkedin.com/in/olamidetofade" class="fa fa-linkedin" title="LinkedIn"></a>
    </footer>
</body>
</html>